extends ../shared/_layout

block content
  h2.page-header= title
    small
      a(href='/category/add') Create
  table.table
    tr
      th id
      th title
      th ent_types
      th ent_status
      th creater
      th updater
      th create_date
      th update_date
      th
    - each item in list
      tr
        td #{item.id}
        td #{item.title}
        td #{item.ent_types}
        td #{item.ent_status}
        td #{item.creater}
        td #{item.updater}
        td=moment(item.create_date).format("YYYY-MM-DD")
        td=moment(item.update_date).format("YYYY-MM-DD")
        td
          a(href='/category/edit/#{item.id}') Edit
          | &nbsp;|&nbsp;
          a(href='/category/details/#{item.id}') Details

