@model Enuo.Dotnet.Model.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
